[submodule "/home/eduardo-tiyo/Documentos/bcc/engenhariaSoftware/PadroesDeProjeto"]
	path = /home/eduardo-tiyo/Documentos/bcc/engenhariaSoftware/PadroesDeProjeto
	url = https://github.com/EduTiyo/PadroesDeProjeto.git
